version: 2

updates:
  - package-ecosystem: "npm"
    directory: "/apps/frontend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 5
    labels:
      - "dependencies"
      - "frontend"

  - package-ecosystem: "gomod"
    directory: "/apps/backend"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "backend"

  - package-ecosystem: "terraform"
    directory: "/apps/infrastructure/terraform"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "infrastructure"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
      - "ci"