# Dependencies
node_modules/
vendor/
dist/
build/
.build/
.next/

# Coverage
coverage/
*.lcov

# Terraform
.terraform/
*.tfstate
*.tfstate.*
crash.log

# Environment
.env
.env.*
!.env.example

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Misc
*.pem
*.key