name: deploy

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Deploy infrastructure
        run: bash scripts/deploy-infrastructure.sh

      - name: Deploy observability
        run: bash scripts/deploy-observability.sh